<% provide :title, t("static_pages.contact.title") %>
<%= link_to t("eng"), locale: "en" %>
<%= link_to t("vie"), locale: "vi" %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to t(".a1"), Settings.client.railscontact %>
</p>
