<% provide :title, t(".title") %>
<%= link_to t("eng"), locale: "en" %>
<%= link_to t("vie"), locale: "vi" %>
<h1><%= t ".h1" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to t(".a1"), Settings.client.railshome %>
  <%= t ".p2" %>
</p>
